  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8">
            <h1>Application</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            You may be wondering, now, where MVC frameworks are useful. Well, 
            nearly every interactive web application uses some form of MVC. 
            MVC is an integral aspect of all mobile apps, and just about any desktop application 
            uses MVC. It&#39;s more difficult to think of software that doesn&#39;t!<br><br>
            <ul>
              <li>Spring (using the Java language)</li>
              <li>AngularJS (using the JavaScript language)</li>
              <li>Django (using the Python language)</li>
              <li>Rails (using the Ruby language)</li>
              <li>The list goes on..</li>
            </ul>
          </div>
          <div class="col-sm-4">

          </div>      
        </div>
      </div>
    </div>
    <ul class="pager">
      <li class="previous"><a href="Tutorial/controllers">Previous</a></li>
      <li class="next"><a href="Tutorial/quiz">Next</a></li>
    </ul>
  </div>