<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          <h1>A History of MVC</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          In the 70&#39;s, GUIs (graphical user interfaces) were rare. When they did exist, it was only on a small scale. 
          This changed, though, when programmers of the Smalltalk-80 language (the first object-oriented language) began experimenting with user interfaces. 
          They realized that they needed a way to separate data and internal processes from the output that users could see. 
          Computer science scholar Martin Fowler calls this separation &#34;Separated Presentation&#34;.<a href="#footnote-1"><sup>1</sup></a> 
          Eventually, the three main components of that Separated Presentation came to be known as models, views, and controllers.
          <br><hr>
          <p id="footnote-1">1. Fowler, Martin. &#34;GUI Architectures.&#34;
            <a target="_blank" href="http://martinfowler.com">martinfowler.com</a>. 18 July 2006. Web. 12 July 2015.
          </p>
        </div>
        <div class="col-sm-4">

        </div>      
      </div>
    </div>
  </div>
  <ul class="pager">
    <li class="previous"><a href="Tutorial/home">Previous</a></li>
    <li class="next"><a href="Tutorial/theory">Next</a></li>
  </ul>
</div>