 <div class="container">
    <div class="jumbotron">
      <video class="jumbotron-video" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/video/mvc_video.mp4" type="video/mp4">
      </video>   
      <div class="jumbotron-text">
        <h1>MVC Made Clear</h1>
        <p>Welcome to a brief introduction to MVC frameworks!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>What this explanation covers:</h3>
        <ul>
          <li>The history of MVC frameworks</li>
          <li>The general theory behind MVC</li>
          <li>Models</li>
          <li>Views</li>
          <li>Controllers</li>
          <li>Modern applications</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>What you should know already:</h3>
        <ul>
          <li>Basic object-oriented programming</li>
          <li>Basic HTML/CSS</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>What this guide <strong>isn't:</strong></h3>
        <ul>
          <li>A practical tutorial on designing a particular MVC application</li>
          <li>A tutorial on Rails/AngularJS/Spring/etc</li>
        </ul>
        <h3>What this guide <strong>is:</strong></h3>
        <ul>
          <li>A theoretical explanation of MVC frameworks</li>
          <li>A guide to understanding the basics of an MVC framework in 
          <strong>any</strong> language.</li>
        </ul>
      </div>
    </div>
    <ul class="pager">
      <li class="next"><a href="Tutorial/history">Next</a></li>
    </ul>
  </div>