<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          <h1>Models</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          Models are how programs interact with data. For instance, most interactive web applications store and retrieve user information from a database. One row from a database might look as follows:
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User ID #</th>
                <th>Username</th>
                <th>Password Hash</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <code>203200611</code>
                </td>
                <td>
                  <code>jill321</code>
                </td>
                <td>
                  <code>DFD12 1LK44 1FSEW F110Q</code>
                </td>
                <td>
                  <code>Jillian</code>
                </td>
                <td>
                  <code>Brown</code>
                </td>
              </tr>
            </tbody>
          </table>
          However, software engineers typically do not want users to have direct access to database information, as this can cause serious security issues. Instead, they can use models to store and retrieve data from the table. The model acts as a liaison between raw database information and the rest of the software.
          <br><br>
          Often, the information in a database will trigger events that users can see. For instance, in an application for managing library accounts, a field might hold a Boolean value of either <em>true</em> or <em>false</em>, 
          depending on whether or not books are overdue. A model can add and retrieve these values to update user account information and to check on user 
          account status. By using models, an application can retrieve the values <em>true</em> or <em>false</em> from a database and pass those values on to other parts of the application dealing with
          event handling or output. For example, if we want to output a red warning notice for true 
          (if a book is overdue) or a green notice for false (if a book is not overdue), the model could pass either a <em>true</em> or <em>false</em> value to a view. Based on the value, the view would then output the appropriate warning or notice. 
        </div>
        <div class="col-sm-4">
          <img id="box" src="img/database.svg">
        </div>      
      </div>
    </div>
  </div>    
  <ul class="pager">
    <li class="previous"><a href="Tutorial/theory">Previous</a></li>
    <li class="next"><a href="Tutorial/views">Next</a></li>
  </ul>
</div>
