  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8">
            <h1>Models</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Models are how programs interact with data. Suppose we have a table of user information in a database. Here&#39;s an example:
            However, we don&#39;t want users to actually see that table. Instead, we can use a model to store and retrieve data from the table. 
            Let&#39;s say we have an application for managing library accounts. In our database, we have a field that can hold either the Boolean values true or false, 
            depending on whether or not a book is overdue. We use our model to add and retrieve these values to update user account information and to check on user 
            accounts. However, we don&#39;t actually want to show users the values &#34;true&#34; or &#34;false&#34;. Instead, we want to output a red warning notice for true 
            (if a book is overdue) or a friendly green notice for false (if a book is not overdue). This is where views come in.
          </div>
          <div class="col-sm-4">
            <img id="box" src="img/database.svg">
          </div>      
        </div>
      </div>
    </div>
    </div>
    <ul class="pager">
      <li class="previous"><a href="Tutorial/theory">Previous</a></li>
      <li class="next"><a href="Tutorial/views">Next</a></li>
    </ul>
  </div>