 <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8">
            <h1>The Basic Theory</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            What is MVC? MVC stands for model-view-controller, and simply speaking, 
            it is a software design pattern. That is, it is a way of dividing the 
            tasks of an application to make it organized and presentable. In his book <em>Designing Data-Intensive Web Applications</em>,
            author Stefano Ceri writes that the model handles &#34;the business logic (rules of how data is created, read, updated, and deleted) 
            of the application,&#34; the view handles the
            &#34;interface presented to the user,&#34; and the controller handles the &#34;control of the interaction triggered by the
            user&#39;s actions&#34;.<sup>1</sup>
            <br><hr>
            1. Ceri, Stefano. <em>Designing Data-Intensive Web Applications.</em> San Francisco: Morgan Kaufmann Publishers, 2003. 461-462. Print.
          </div>
          <div class="col-sm-4">
            <img id="box" src="img/mvc.svg">
          </div>      
        </div>
      </div>
    </div>
  </div>
  <ul class="pager">
    <li class="previous"><a href="Tutorial/history">Previous</a></li>
    <li class="next"><a href="Tutorial/models">Next</a></li>
  </ul>