  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8">
            <h1>Views</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            Using models, we can store and retrieve data, but the work of a model 
            is hidden. In most applications, we actually want to show users some 
            of the data (for example, a username, an email address, or an image). 
            Views are how we organize the presentation of our data, to make it 
            user-friendly and appealing. Unlike static HTML webpages, however, 
            views can change depending on the information retrieved from a model. 
            For example, in the database for library accounts, we said that we have 
            Boolean values for keeping track of the status of books checked out.
            As these values change in the database (depending on due dates), the view
            will update to show alert patrons about their status.<br><br>
            However, views aren&#39;t limited to only output. They also provide the tools
            to accept input from users. Authors Iqbal H. Sarker and K. Apu write in their
            2014 article &#34;MVC Architecture Driven Design&#34; that &#34;user input is accepted 
            by the component &#39;View&#39; through [a] graphical user interface
            (GUI). In a stand-alone GUI client, user interactions could be button clicks or menu
            selections&#34;.<sup>1</sup>
            <br><hr>
            <p id="footnote-1">1. Sarker, Iqbal H. and Khalid Apu. &#34;MVC Architecture Driven Design and Implementation of Java
              Framework for Developing Desktop Application.&#34; <em>International Journal of Hybrid Information Technology</em> 
              7.5 (2014): 317-322. Web.
            </p>
          </div>
          <div class="col-sm-4">
            <img id="box" src="img/view.svg">
          </div>      
        </div>
      </div>
    </div>
    <ul class="pager">
      <li class="previous"><a href="Tutorial/models">Previous</a></li>
      <li class="next"><a href="Tutorial/controllers">Next</a></li>
    </ul>
  </div>